{% extends "base.html" %}
{% block content %}
<div class="container" id="main">
    <div class="container">

        <!-- text  -->
        <div>
            <h1>Ласкаво просимо до myScheldue!</h1>
            <hr>

            <h5>
                Якщо Ви шукаєте вже існуючий розклад - просто напишіть його
                назву в полі пошуку та натисніть "Шукати".

            </h5>
            <br/>
            <h5>
                Якщо Ви бажаєте створити новий розклад для Вашої кафедри -
                заповніть, будь ласка, форму нижче.
            </h5>
            <div class="alert alert-warning" role="alert">
                 Перед підтвердженням переконайтесь, що всі вимоги до даних були
                 виконані!<br/>
                 У випадку, коли присутні певні проблеми з даними - Вам буде
                 надісланий лист з інформацією щодо помилок.
            </div>
            <br/>
        </div>
        <hr>
        <form class="font-weight-bold" action='/upload_files' method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Ваша елекронна адреса</label>
                    {{new_schedule_form.email(class="form-control",
                                              type="email",
                                              placeholder="Ввести адресу")}}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputName">Ваше ім'я</label>
                    {{new_schedule_form.name(class="form-control",
                                             placeholder="Ввести ім'я")}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="customFile">Викладачі</label>
                    <div class="custom-file">
                        {{
                            new_schedule_form.teachers(
                                    class="custom-file-input",
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                )
                        }}
                        <label class="custom-file-label"
                            for="customFile">Обрати файл</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="customFile">Предмети</label>
                    <div class="custom-file">
                        {{
                            new_schedule_form.subjects(
                                    class="custom-file-input",
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                )
                        }}
                        <label class="custom-file-label" for="customFile">
                            Обрати файл
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="customFile">Групи</label>
                    <div class="custom-file">
                        {{
                            new_schedule_form.groups(
                                    class="custom-file-input",
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                )
                        }}
                        <label class="custom-file-label"
                            for="customFile">Обрати файл</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="customFile">Факультет</label>
                    <div class="custom-file">
                        {{
                            new_schedule_form.faculty(
                                    class="custom-file-input",
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                )
                        }}
                        <label class="custom-file-label" for="customFile">
                            Обрати файл
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="customFile">Кафедри</label>
                    <div class="custom-file">
                        {{
                            new_schedule_form.departments(
                                    class="custom-file-input",
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                )
                        }}
                        <label class="custom-file-label"
                            for="customFile">Обрати файл</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="customFile">Лист навантаження</label>
                    <div class="custom-file">
                        {{
                            new_schedule_form.load_list(
                                    class="custom-file-input",
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                )
                        }}
                        <label class="custom-file-label" for="customFile">
                            Обрати файл
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="customFile">Електронні абреси викладачів</label>
                    <div class="custom-file">
                        {{
                            new_schedule_form.teacher_emails(
                                    class="custom-file-input",
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                )
                        }}
                        <label class="custom-file-label"
                            for="customFile">Обрати файл</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="customFile">Електронні адреси студентів</label>
                    <div class="custom-file">
                        {{
                            new_schedule_form.student_emails(
                                    class="custom-file-input",
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                )
                        }}
                        <label class="custom-file-label" for="customFile">
                            Обрати файл
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-right">
                {{
                    new_schedule_form.submit(class="btn btn-primary")
                }}
            </div>

        </form>

        <hr>
        <!-- Footer -->
        <div class="text-center">
            <p>
                All rights reserved<br/>2020
            </p>
            <a href="/scheduledesign"><button class="btn btn-primary">Приклад створення розкладу</button></a>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    </div>
</div>
{%endblock%}

{% block scripts%}
    <script src="/static/js/files_upload.js"></script>
{% endblock %}
