{% extends "base.html" %}
{% block content %}
<div class="container" id="main">
    <div class="container">

        <!-- text  -->
        <div>
            <h1>Ласкаво просимо до mySchedule!</h1>
            <hr>

            <h5>
                Для пошуку вже існуючого розкладу - просто впишіть назву
                віподвідної групи фбо викладача в полі пошуку та
                натисніть "Шукати".

            </h5>
            <br/>
            <h5>
                Якщо ж Ви бажаєте створити новий розклад для Вашої кафедри -
                натисніть кнопку "Створити розклад" та слідуйте вказаним
                інструціям.
            </h5>
            <br/>
        </div>
        <hr>
        <div class="card-group">
            <a href="/schedule_КМ-71_w_1"  style="color:black; text-decoration:none; padding-right:3px">
                <div class="card mb-3" style="max-width: 537px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/static/images/example_shedule.png" class="card-img" alt="img" style="height: 220px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Приклад розкладу</h5>
                                <p class="card-text">
                                    На прикладі групи КМ-71, Ви можете побачити, як буде виглядати вже створений розклад.<br>
                                    Весь продемонстрований функціонал буде присутній у Вашому розкладі також.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/scheduledesign/student/11" style="color:black; text-decoration:none; padding-right:3px">
                <div class="card mb-3" style="max-width: 537px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/static/images/scheduledesign.png" class="card-img" alt="img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Приклад створення розкладу</h5>
                                <p class="card-text">
                                    Тут показано, яким чином студенти та викладачі зможуть вказати бажаний розклад.<br>
                                    Таким же чином, студенти та викладачі Вашої кафедри будуть розробляти власні
                                    ідеальні робочі тижні.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <hr>
        <!-- Footer -->
        <div class="text-center">
            <p>
                All rights reserved<br/>2020
            </p>
        </div>

    </div>
</div>
{%endblock%}

{% block scripts%}
    <script src="/static/js/files_upload.js"></script>
{% endblock %}
